fastapi==0.110.0
uvicorn
pydantic[email]
python-multipart
llama-index==0.10.34
llama-index-storage-docstore-mongodb
llama-index-vector-stores-mongodb
pymongo
motor
python-dotenv
llama-index-retrievers-bm25
python-jose 
PyJWT
passlib
bcrypt